[ ca ]
default_ca = {{ shelleg.domain_prefix }}_ca

[ {{ shelleg.domain_prefix }}_ca ]
unique_subject = no
new_certs_dir = .
certificate = {{ ca_cert }}
database = certindex
private_key = {{ ca_key }}
serial = serial
default_days = 1825
default_md = sha1
policy = ca_policy
x509_extensions = ca_extensions

[ ca_policy ]
commonName = supplied
stateOrProvinceName = supplied
countryName = supplied
emailAddress = optional
organizationName = supplied
organizationalUnitName = optional

[ ca_extensions ]
basicConstraints = CA:false
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
keyUsage = digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth,clientAuth